*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

.container{
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}

img{
    max-width: 250px;
    max-height: 150px;
}

.mid-container{
    max-width: 1200px;
    height: calc(100vh - 160px);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.bg-black{
    background-color: black;
}

.bg-gray{
    background-color: gray;
}

.flex{
    display: flex;
}

.top-display{
    height: 100px;
    width: 100%;
  
   
    display: flex;
    justify-content: flex-end;
}

.cam-btn{
    background-color: #484848;
    color: white;
    font-size: 15px;
    border-radius: 5px;
}

.name{
    border: 1px solid white;
    color: white;
    position: absolute;
    bottom: 0px;
    left: 0px;

}

.partecipant{
    display: inline-block;
    position: relative;
    
}

.call-footer{
    width: 100%;
    border: 1px dashed white;
    display: flex;
    height: 60px;
}




.xx-large{
    font-size: xx-large;
}

.wrap{
    flex-wrap: wrap;
}

.icons{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}