*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

.container{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.bg-black{
    background-color: black;
}

.flex{
    display: flex;
}

.top-display{
    height: 100px;
    width: 100%;
    border: 2px dashed white;
   
    display: flex;
    justify-content: flex-end;
}

.cam-btn{
    background-color: #484848;
    color: white;
}

.name{
    border: 1px solid white;
    color: white;
    position: absolute;
    bottom: 0px;
    left: 0px;

}

.relative{
    position: relative;
}

.call-footer{
    width: 100%;
    border: 1px dashed white;
    display: flex;
}


.mic{
    flex-direction: column;
    align-items: center;
}

.xx-large{
    font-size: xx-large;
}

.wrap{
    flex-wrap: wrap;
}